ConsumingSoapFromWSDL/src/main/resources/employees.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://com.springbootsoap.allapis" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com.springbootsoap.allapis" targetNamespace="com.springbootsoap.allapis">
  <wsdl:types>
    <xs:schema xmlns:tns="http://com.springbootsoap.allapis" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://com.springbootsoap.allapis">


	<xs:complexType name="employeeInfo">
		<xs:sequence>
			<xs:element name="employeeId" type="xs:long"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="department" type="xs:string"/>
			<xs:element name="phone" type="xs:string"/>
			<xs:element name="address" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="serviceStatus">
		<xs:sequence>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="message" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="addEmployeeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employeeInfo" type="tns:employeeInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="addEmployeeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="serviceStatus" type="tns:serviceStatus"/>
				<xs:element name="employeeInfo" type="tns:employeeInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

<xs:element name="updateEmployeeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employeeInfo" type="tns:employeeInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="updateEmployeeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="serviceStatus" type="tns:serviceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addEmployeeRequest">
    <wsdl:part element="sch:addEmployeeRequest" name="addEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmployeeResponse">
    <wsdl:part element="sch:addEmployeeResponse" name="addEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmployeeRequest">
    <wsdl:part element="sch:updateEmployeeRequest" name="updateEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmployeeResponse">
    <wsdl:part element="sch:updateEmployeeResponse" name="updateEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="allServiceSoapHttp">
    <wsdl:operation name="addEmployee">
      <wsdl:input message="tns:addEmployeeRequest" name="addEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:addEmployeeResponse" name="addEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <wsdl:input message="tns:updateEmployeeRequest" name="updateEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateEmployeeResponse" name="updateEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="allServiceSoapHttpSoap11" type="tns:allServiceSoapHttp">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="addEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="allServiceSoapHttpService">
    <wsdl:port binding="tns:allServiceSoapHttpSoap11" name="allServiceSoapHttpSoap11">
      <soap:address location="http://localhost:8080/allService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>